In [130]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd
import numpy as np
from IPython.display import display

titles = []
written_times = []
first_lines = []

for i in range(31,33):
    url = "https://www.reuters.com/news/archive/GCA-ForeignExchange?view=page&page={}&pageSize=10".format(i)
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    
    for title in soup.find_all('h3', {'class':'story-title'}):
        titles.append(title.string.strip())
        
    for written_time in soup.find_all('span', {'class':'timestamp'}):
        written_times.append(written_time.string.strip())
        
        
    try:
        for first_line in soup.find_all('p'):
            first_lines.append(first_line.string.strip())
    except:
        pass
    
    titles = titles[:len(titles)-3]
    first_lines = first_lines[:len(first_lines)-2]
        
reuters_word_headlines = pd.DataFrame({'title':titles, 'time':written_times, 'headline content':first_lines})
reuters_word_headlines = reuters_word_headlines.loc[:,('time', 'title','headline content')]

reuters_word_headlines.to_csv(path_or_buf='/home/tushar/Desktop/Python/Python3/tradegame-master/output.csv',index=False)

In [205]:
#df = pd.DataFrame
df = pd.read_csv('/home/tushar/Desktop/Python/Python3/tradegame-master/output.csv')
df = df.loc[9:]
df = df.loc[:9824]
df.reset_index(drop=True, inplace=True)

In [266]:
df_new = df.copy(deep=True)
df_new['compound']=''
df_new['neg']=''
df_new['neu']=''
df_new['pos']=''

In [203]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /home/tushar/nltk_data...

True

In [264]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia=SentimentIntensityAnalyzer()

In [267]:
for index,sentence in enumerate(df_new['headline content']):
    score = sia.polarity_scores(sentence)
    df_new['compound'][index]=score['compound']
    df_new['neg'][index]=score['neg']
    df_new['neu'][index]=score['neu']
    df_new['pos'][index]=score['pos']

In [421]:
searchfor = ['pound','EU','sterling','UK']
df_eu = df_new[df_new['title'].str.contains("|".join(searchfor), regex=True, case=False, na=False)].copy(deep=True)

In [422]:
df_eu['time'] = pd.to_datetime(df['time'])
#df_eu = df_eu.drop(['title','headline content'],axis = 1)

In [423]:
df_eu['compound'] = df_eu['compound'].astype(float)
df_eu['pos'] = df_eu['pos'].astype(float)
df_eu['neu'] = df_eu['neu'].astype(float)
df_eu['neg'] = df_eu['neg'].astype(float)

In [425]:
gp = df_eu.groupby('time',as_index=False)['compound','neg','neu','pos'].mean()
gp = gp.set_index('time')

In [366]:
gp

            compound       neg       neu       pos
time
2012-01-06  0.381800  0.000000  0.934000  0.066000
2012-01-11 -0.585900  0.226000  0.652000  0.122000
2012-01-12 -0.307100  0.095000  0.905000  0.000000
2012-01-24  0.261700  0.000000  0.927000  0.073000
2012-01-27  0.214400  0.147000  0.672000  0.181000
2012-01-31  0.214400  0.147000  0.672000  0.181000
2012-02-01  0.873800  0.000000  0.726000  0.274000
2012-02-08  0.510600  0.000000  0.916000  0.084000
2012-02-16  0.361200  0.000000  0.923000  0.077000
2012-02-23 -0.340000  0.146000  0.743000  0.111000
2012-02-29 -0.273200  0.058000  0.942000  0.000000
2012-03-01  0.000000  0.000000  1.000000  0.000000
2012-03-07 -0.451600  0.225000  0.681000  0.094000
2012-03-08 -0.571900  0.132000  0.868000  0.000000
2012-03-12  0.648600  0.000000  0.872000  0.128000
2012-03-16 -0.102700  0.084000  0.817000  0.099000
2012-03-19  0.187450  0.031000  0.889500  0.079500
2012-03-21  0.659700  0.035000  0.796000  0.169000
2012-03-22  0.340000  0.057000  0.820000  0.123000
2012-03-23  0.102700  0.066000  0.833000  0.100000
2012-03-26 -0.493900  0.155000  0.775000  0.070000
2012-03-27  0.202300  0.089000  0.762000  0.149000
2012-03-29 -0.886000  0.257000  0.743000  0.000000
2012-03-30  0.757900  0.058000  0.728000  0.214000
2012-04-02 -0.153100  0.123000  0.769000  0.108000
2012-04-03 -0.318200  0.091000  0.909000  0.000000
2012-04-05 -0.908100  0.279000  0.721000  0.000000
2012-04-06 -0.886900  0.266000  0.694000  0.040000
2012-04-10  0.108367  0.067000  0.856333  0.076667
2012-04-11  0.226300  0.000000  0.951000  0.049000
...              ...       ...       ...       ...
2018-11-15 -0.128000  0.143000  0.760000  0.097000
2018-11-16 -0.211067  0.144000  0.764333  0.091333
2018-11-19  0.172550  0.082000  0.781500  0.136500
2018-11-20  0.164950  0.063000  0.850500  0.086500
2018-11-21  0.340000  0.000000  0.926000  0.074000
2018-11-22  0.341033  0.000000  0.902667  0.097333
2018-11-23 -0.051600  0.105000  0.794000  0.100000
2018-11-26  0.292800  0.109000  0.717667  0.173000
2018-11-27  0.250000  0.072000  0.822000  0.105000
2018-11-28 -0.709600  0.170000  0.780000  0.049000
2018-11-29 -0.049300  0.073500  0.870500  0.056500
2018-11-30 -0.401900  0.094000  0.906000  0.000000
2018-12-03  0.296000  0.076000  0.785000  0.140000
2018-12-04 -0.190175  0.094750  0.845750  0.059750
2018-12-05 -0.039333  0.095333  0.815000  0.089667
2018-12-06  0.271700  0.074000  0.793667  0.132333
2018-12-07 -0.205200  0.068000  0.884000  0.048000
2018-12-10 -0.743000  0.219000  0.781000  0.000000
2018-12-11 -0.429875  0.124000  0.856750  0.019250
2018-12-12  0.348633  0.015000  0.905000  0.079667
2018-12-13  0.203600  0.095000  0.732000  0.172000
2018-12-14 -0.648600  0.194000  0.725000  0.081000
2018-12-17 -0.401900  0.139000  0.861000  0.000000
2018-12-18 -0.476700  0.225000  0.684000  0.091000
2018-12-19  0.250000  0.060000  0.852000  0.088000
2018-12-20 -0.051600  0.145000  0.735000  0.120000
2018-12-21  0.784500  0.000000  0.846000  0.154000
2018-12-24 -0.624900  0.148000  0.852000  0.000000
2018-12-27 -0.624900  0.220000  0.704000  0.076000
2018-12-28 -0.612400  0.179000  0.821000  0.000000

[1688 rows x 4 columns]

In [426]:
comb = pd.date_range(start='1/1/2012', end='31/12/2018')
new = pd.DataFrame(comb)
new['compound'] = 0
new['pos'] = 0
new['neu'] = 1
new['neg'] = 0
new['compound'] = new['compound'].astype(float)
new['pos'] = new['pos'].astype(float)
new['neu'] = new['neu'].astype(float)
new['neg'] = new['neg'].astype(float)
new = new.set_index(0)

In [427]:
new.loc[gp.index,'compound'] = gp['compound']
new.loc[gp.index,'pos'] = gp['pos']
new.loc[gp.index,'neu'] = gp['neu']
new.loc[gp.index,'neg'] = gp['neg']

In [430]:
new = new[1:]

In [431]:
upsampled = new.resample('15T').ffill()

In [438]:
upsampled = upsampled[:-1]

In [439]:
upsampled

                     compound  pos  neu  neg
0
2012-01-02 00:00:00       0.0  0.0  1.0  0.0
2012-01-02 00:15:00       0.0  0.0  1.0  0.0
2012-01-02 00:30:00       0.0  0.0  1.0  0.0
2012-01-02 00:45:00       0.0  0.0  1.0  0.0
2012-01-02 01:00:00       0.0  0.0  1.0  0.0
2012-01-02 01:15:00       0.0  0.0  1.0  0.0
2012-01-02 01:30:00       0.0  0.0  1.0  0.0
2012-01-02 01:45:00       0.0  0.0  1.0  0.0
2012-01-02 02:00:00       0.0  0.0  1.0  0.0
2012-01-02 02:15:00       0.0  0.0  1.0  0.0
2012-01-02 02:30:00       0.0  0.0  1.0  0.0
2012-01-02 02:45:00       0.0  0.0  1.0  0.0
2012-01-02 03:00:00       0.0  0.0  1.0  0.0
2012-01-02 03:15:00       0.0  0.0  1.0  0.0
2012-01-02 03:30:00       0.0  0.0  1.0  0.0
2012-01-02 03:45:00       0.0  0.0  1.0  0.0
2012-01-02 04:00:00       0.0  0.0  1.0  0.0
2012-01-02 04:15:00       0.0  0.0  1.0  0.0
2012-01-02 04:30:00       0.0  0.0  1.0  0.0
2012-01-02 04:45:00       0.0  0.0  1.0  0.0
2012-01-02 05:00:00       0.0  0.0  1.0  0.0
2012-01-02 05:15:00       0.0  0.0  1.0  0.0
2012-01-02 05:30:00       0.0  0.0  1.0  0.0
2012-01-02 05:45:00       0.0  0.0  1.0  0.0
2012-01-02 06:00:00       0.0  0.0  1.0  0.0
2012-01-02 06:15:00       0.0  0.0  1.0  0.0
2012-01-02 06:30:00       0.0  0.0  1.0  0.0
2012-01-02 06:45:00       0.0  0.0  1.0  0.0
2012-01-02 07:00:00       0.0  0.0  1.0  0.0
2012-01-02 07:15:00       0.0  0.0  1.0  0.0
...                       ...  ...  ...  ...
2018-12-30 16:30:00       0.0  0.0  1.0  0.0
2018-12-30 16:45:00       0.0  0.0  1.0  0.0
2018-12-30 17:00:00       0.0  0.0  1.0  0.0
2018-12-30 17:15:00       0.0  0.0  1.0  0.0
2018-12-30 17:30:00       0.0  0.0  1.0  0.0
2018-12-30 17:45:00       0.0  0.0  1.0  0.0
2018-12-30 18:00:00       0.0  0.0  1.0  0.0
2018-12-30 18:15:00       0.0  0.0  1.0  0.0
2018-12-30 18:30:00       0.0  0.0  1.0  0.0
2018-12-30 18:45:00       0.0  0.0  1.0  0.0
2018-12-30 19:00:00       0.0  0.0  1.0  0.0
2018-12-30 19:15:00       0.0  0.0  1.0  0.0
2018-12-30 19:30:00       0.0  0.0  1.0  0.0
2018-12-30 19:45:00       0.0  0.0  1.0  0.0
2018-12-30 20:00:00       0.0  0.0  1.0  0.0
2018-12-30 20:15:00       0.0  0.0  1.0  0.0
2018-12-30 20:30:00       0.0  0.0  1.0  0.0
2018-12-30 20:45:00       0.0  0.0  1.0  0.0
2018-12-30 21:00:00       0.0  0.0  1.0  0.0
2018-12-30 21:15:00       0.0  0.0  1.0  0.0
2018-12-30 21:30:00       0.0  0.0  1.0  0.0
2018-12-30 21:45:00       0.0  0.0  1.0  0.0
2018-12-30 22:00:00       0.0  0.0  1.0  0.0
2018-12-30 22:15:00       0.0  0.0  1.0  0.0
2018-12-30 22:30:00       0.0  0.0  1.0  0.0
2018-12-30 22:45:00       0.0  0.0  1.0  0.0
2018-12-30 23:00:00       0.0  0.0  1.0  0.0
2018-12-30 23:15:00       0.0  0.0  1.0  0.0
2018-12-30 23:30:00       0.0  0.0  1.0  0.0
2018-12-30 23:45:00       0.0  0.0  1.0  0.0

[245280 rows x 4 columns]

In [406]:
df_2012 = pd.read_csv('/home/tushar/Desktop/Python/Python3/tradegame-master/data/sampled_data_15T/yearly/EURUSD_2012.csv')

In [408]:
df_2012 = df_2012.set_index('tick')

In [464]:
df_2012 = pd.read_csv('/home/tushar/Desktop/Python/Python3/tradegame-master/data/sampled_data_15T/yearly/EURUSD_2017.csv')
df_2012['tick'] = pd.to_datetime(df_2012['tick'])
df_2012 = df_2012.set_index('tick')
df_2012['compound'] = 0
df_2012['pos'] = 0
df_2012['neu'] = 1
df_2012['neg'] = 0
df_2012['compound'] = df_2012['compound'].astype(float)
df_2012['pos'] = df_2012['pos'].astype(float)
df_2012['neu'] = df_2012['neu'].astype(float)
df_2012['neg'] = df_2012['neg'].astype(float)
idx1 = upsampled.index
idx2 = df_2012.index
idx = idx1.intersection(idx2)
df_2012.loc[idx,'compound'] = upsampled['compound']
df_2012.loc[idx,'pos'] = upsampled['pos']
df_2012.loc[idx,'neu'] = upsampled['neu']
df_2012.loc[idx,'neg'] = upsampled['neg']
df_2012.to_csv(path_or_buf='/home/tushar/Desktop/Python/Python3/tradegame-master/data/EURUSD_2017_new.csv')
#df_2012.loc[upsampled.index,'compound'] = upsampled['compound']
#df_2012.loc[upsampled.index,'pos'] = upsampled['pos']
#df_2012.loc[upsampled.index,'neu'] = upsampled['neu']
#df_2012.loc[upsampled.index,'neg'] = upsampled['neg']